body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #383947;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between; 
    align-items: center; 

.site-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 1rem;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.pfp {
    background-color: #382040;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between; 
    align-items: center; 

}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.left {
    position: absolute;
    size: 50%;
    font-size:24px;
    top:50%;
    bottom: 50%;
    left: 16px;
}

.right {
    position: absolute;
    size: 505;
    font-size: 12px;
    top:50%;
    bottom: 50%;
    right: 16px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.product .photo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product .name {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.product .price {
    font-size: 1.2em;
    color: #e67e22;
    margin: 10px 0;
}

.product .description {
    font-size: 1em;
    color: #777;
    margin: 10px 0;
}